.Home .bg {
    background-image: url("https://cdn.pixabay.com/photo/2023/03/19/08/07/network-7862055_960_720.jpg");
}

.Home .myCard {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
border: 1px solid rgba(255, 255, 255, 0.56);
}